body{background: white; overflow-y: hidden}
#top  {

    color: #093e5e;
    background: green;

    font-style: italic;
    padding-top: 15px;
    margin-top: -12px;
    margin-right: -8px;
    margin-left: -8px;
    height: 50%;
}
#bottom  {
    top: 50%;
    height: 52%;
    font-style: italic;
    width: 100%;
}
#bottom1  {
    height: 100%;
    background: black;
    font-weight: bold;
    width: 33%;
    float: left;
}
#bottom2  {
    height: 100%;
    font-weight: bold;
    width: 33%;
    float: left;
}
#bottom3  {
    background: red;
    font-weight: bold;
    width: 33%;
    float: left;
    height: 100%;
}

#left  {

    width: auto;
    background: #cccccc;
    padding: inherit;
    border: solid 1px black;
    float: top;
}
